<div class="container-fluid section-container">
		<div class="section-main-container">
			<form [formGroup]="form">
				<div class="row justify-content-start">
					<div class="col-12 col-sm-5 col-lg-5">
						<mat-form-field>
							<input matInput type="text" formControlName="personName" placeholder="Insert Name">
							<mat-error *ngIf="isFieldInvalid(form.get('personName'))">
								Required Field
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row justify-content-start">
					<div class="col-12 col-sm-5 col-lg-5">
						<div class="row justify-content-end">
							<div class="col-auto">
								<button mat-button type="button" class="align-self-end" (click)="onCancel()">Cancel</button>
							</div>
							<div class="col-auto">
								<button mat-button type="button" class="align-self-end" (click)="onSubmit()">Add User</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>